.image {
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    flex-direction: column;
}

.image__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.info {
    display: inline-flex;
    justify-content: center;
}

.info__section {
    justify-content: space-evenly;
}

.list {
    list-style: none;
}

figcaption {
    text-align: center;
}

.title {
    text-align: center;
}

.title__section {
    text-align: center;
}