.container__bio {
    display: flex;
    align-items: center;
}

.row {
    display: flex;
}

.column {
    float: left;
    padding: 10px;
}

.left {
    width: 60%;
}

.right {
    width: 40%;
    align-self: center;
}

.image--left {
    width: 100%;
}

.image__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.container__family {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.family__img img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 500px;
}

ul {
    list-style-type: none;
}