/* .container__bio {
    display: flex;
} */

.image--left {
    width: 70%;
}

.container__family {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.family__img img {
    width: 30%;
}